.user-info-post {
    display: flex;
    width: 100%;
}

.rate {
    flex-grow: 1;
    text-align: center;
}

.post-item-container {
    display: flex;
}

.rate-comment {
    text-align: center;
    border-right: 1px solid;
    border-color: white;
}

.post-info {
    display: flex;
    justify-content: flex-end;
    flex-direction: "row";
    width: 100%;
}

.user-info {
    width: auto;
    padding-right: 5px;
    padding-top: 5px;
}

.post-rating {
    width: 50px;
    align-self: center;
    display: flex;
}