.calendar {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 100%;
}

.header, .row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
}

.calendarControll {
    margin-top: 100px;
    flex-direction: column;
}

.calendarControllPanel {
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
}

.cell {
    flex: 1;
    padding: 10px;
    /* height: calc(100vw / 14); */
    height: calc(calc(100vh / 7) - 20px);
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

/* .row:last-child .cell {
    border-bottom: none;
}

.cell:last-child {
    border-right: none;
} */