.calendarControll {
    margin-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    max-width: calc(calc(120px * 7));
}

.month-weekselect {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.arrow {
    height: 35px;
    width: 35px;
}

.calendarControllPanel {
    display: flex;
    position: relative;
    width: 100%;
    height: 35px;
}

.calendar {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 100%;
    border-right: transparent;
}

.header, .row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
}

.name-edit {
    display: flex;
    align-items: center;
}

.cell, .todaycell, .graycell, .cellhead {
    flex: 1;
    padding-right: 4px;
    /* height: calc(100vw / 14); */
    height: calc(calc(100vh / 7) - 20px);
    text-align: right;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-height: 70px;
    max-width: 120px;
}

.cell, .todaycell {
    cursor: pointer;
}

.todaycell {
    background-color: #b0b0b0;
}

.cellhead {
    text-align: center;
    padding: 10px;
    height: 40px;
    min-height: 40px;
}


.cell:hover, .todaycell:hover {
    background-color: #6a6a6a;
}

.eventsdots {
    pointer-events: none;
}

.eventdot {
    pointer-events: none;
    height: 20px;
    width: 20px;
    background-color: #282828;
    border-radius: 50%;
    margin: 0px 2px;
    display: inline-block;
}